body {
  font-family: Open Sans, Arial, Sans-serif;
  color: #004596;
  margin: 0; padding: 0;
}
h1 {
  font-family: Bitter, Cambria, serif;
  color: white;
  font-size: 40px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  margin: 0px;
}
h2 {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0;
}
p {
  margin-left: 40px;
  font-size: 16px;
}
.page-title {
  background: linear-gradient(180deg, #004596 33.33%, #316DB5 100%);
  padding-left: 40px;
  padding-top: 0px;
  padding-bottom: 34px;
}
.bars {
  margin-left: 40px;
  margin-top: 20px;
  margin-right: 40px;
}
.bar {
  height: 80px;
  background-color: #FAA66A;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 0 20px 0;
  border-radius: 40px 10px 10px 40px;
  cursor: pointer;
}
.label {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  min-width: 90vw;
}
.label img {
  height: 100px;
  width: auto;
}
.member-details {
  line-height: 28px;
}
.member-details strong {
  font-size: 120%;
}
.politician {
  font-size: 120%;
}
.cropper {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  overflow: hidden;
  margin: 0px 20px 0 0;
}
cfa-oak-map-columns {
  width: 800px;
  height: 400px;
  display: block;
}

/* #map { position:absolute; top:0; bottom:0; width:100%; } */
.marker {
  background-color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}
.overlay-interior {
  width: 800px;
}
.overlay-interior .analyte-button {
  background:white;
  color:red;
  margin:0 10px 10px 0;
}
.overlay-interior .analyte-button.active {
  color: white;
  background: #c00;
}