body {
  font-family: Open Sans, Arial, Sans-serif;
  margin: 0px;
  color: #004596; /* dark blue */
}
h1 {
  font-family: Bitter, Cambria, serif;
  color: white;
  font-size: 40px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  margin: 0px;
}

h3 {
  font-family: Bitter, Cambria, serif;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;  
}

.header { /* navigation*/
  background: #004596;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  padding-top: 17px;
  padding-left: 40px;
  padding-bottom: 11px;
  box-sizing: border-box;
  text-transform: uppercase;
}

.header a:link, .header a:visited {
  color: #8FB7E7; /* light blue */
  text-decoration: none;
  margin-right: 30px;
  padding: 5px 10px;;
  border-radius: 5px;
  
}

.header a:hover {
  background: rgba(255, 255, 255, 0.2);  
}

.header-title {
  background: linear-gradient(180deg, #004596 33.33%, #316DB5 100%);
  padding-left: 40px;
  padding-top: 0px;
  padding-bottom: 34px;
}

.indented {
  padding-left: 40px;
  padding-right: 40px;  
}

.summary {
  border: 1px solid #8FB7E7;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.numcards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.numcard {
  width: 20%;
  font-size: 16px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
.chartcards {
  display: flex;
  justify-content: space-around;
}
.bignum {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 131.19%;
}

select {
  color: #004596;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  display: flex;
  padding: 4px;
  border: 1px solid #8FB7E7;
  border-radius: 5px;
  margin: 1px;
}

.selects {
  box-sizing: border-box;
  width: 100%;
  background: rgba(255,255,255,.7);
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selects span {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  padding: 4px;
}

.violating-systems {
  margin-bottom: 16px;
  overflow-y: scroll;
  max-height: 500px;
}
.violating-systems table {
  margin: 10px auto;
  width: 100%;
}
.violaters.system-specific {
  grid-template-columns: auto auto auto auto auto auto auto;
}

.violaters a:link, .violaters a:visited {
  text-decoration: none;
  color: #004596; /* dark blue */
}

.violaters a:hover {
  text-decoration: underline
}

.violaters th {
  background: #8FB7E7;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  padding: 5px 10px;
  position: sticky;
  top: 0;
}

.violaters td {
  font-size: 12px;
  padding: 5px 10px;
}

.violaters tr:nth-child(odd) {
  background-color: #E8F0FA;
}

.violaters tr:nth-child(even) {
  background-color: #D8E5F4;
}
  
.erf-align {
  max-width: 90%;
  margin: 10px auto;
  font-weight: 500;
}

.table_footer {
  display: flex;
  justify-content: space-between; 
}

button {
  border: 1px solid #8FB7E7;
  border-radius: 5px;
  background-color: white;
  font-size: 12px;
  padding: 5px;
}

.dates {
  font-size: 12px;  
}

.footnote {
  color: gray;
  margin-bottom: 200px;
  margin-top: 40px;
  margin-left: 40px;
}

/* D3 map */
path {
  fill: lightgray;
  stroke: #000;
}
.graticule {
  fill: none;
  stroke: #ccc;
  stroke-width: .5px;
}
.foreground {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}
#cali-map {
  width: 320px;
  height: 400px;
}

.bar { fill: #b35805; }
