body {
  font-family: Montserrat, sans-serif;
}
.dates {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.3rem;
}
h1 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  margin: 60px 0 20px 0;
  font-weight: normal;
}
h3 {
  font-weight: normal;
  text-align: center;
}
.numcards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.numcard {
  width: 20%;
  font-size: 2rem;
  text-align: center;
}
.chartcards {
  display: flex;
  justify-content: space-around;
}
.bignum {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

select {
  font-size: 1.5rem;
  min-width: 187px;
  margin-right: 10px;
}
.selects {
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  background: rgba(255,255,255,.7);
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}
.violating-systems {
  margin-bottom: 150px;
}
.violaters table {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  max-width: 90%;
  margin: 0 auto;
}
.violaters.system-specific {
  grid-template-columns: auto auto auto auto auto auto auto;
  margin-bottom: 50px;
}
.violaters td {
  background-color: rgba(0,0,255,.25);
  padding: 10px;
  color: #000;
}
.violaters th {
  background: rgba(0,0,255,.6);
  color: #fff;
}
.violaters span a {
  color: #000;
}
.erf-align {
  max-width: 90%;
  margin: 10px auto;
  font-weight: 500;
}
button {
  position: relative;
  left: 45px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 10px
  }
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
