body {
  font-family: Open Sans, Sans-serif;
}
h1 {
  font-family: Bitter, serif;
  color: white;
  font-size: 40px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  margin: 0px;
}

h3 {
  font-family: Bitter, serif;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;  
}

.header { /* navigation*/
  background: #004596;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-variant: small-caps;
  line-height: 19px;
  padding-top: 22px;
  padding-left: 40px;
  padding-bottom: 8px;
  box-sizing: border-box;
}

.header a:link, a:visited {
  color: #8FB7E7; /* light blue */
  text-decoration: none;
  margin-right: 30px;
  padding: 5px;
  border-radius: 5px;
}

.header a:hover {
  background: rgba(255, 255, 255, 0.2);  
}

.header-title {
  background: linear-gradient(180deg, #004596 33.33%, #316DB5 100%);
  padding-left: 40px;
  padding-top: 16px;
  padding-bottom: 34px;
}

.indented {
  padding-left: 40px;
  padding-right: 40px;  
}

.summary {
  border: 1px solid #8FB7E7;
  border-radius: 5px;
  color: #004596; /*dark blue*/
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.numcards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.numcard {
  width: 20%;
  font-size: 2rem;
  text-align: center;
}
.chartcards {
  display: flex;
  justify-content: space-around;
}
.bignum {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 131.19%;
}

select {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #004596;
  margin-right: 10px;
  border: 1px solid #8FB7E7;
  border-radius: 5px;
}
.selects {
  box-sizing: border-box;
  width: 100%;
  background: rgba(255,255,255,.7);
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.violating-systems {
  margin-bottom: 10px;
  overflow-y: scroll;
  height: 500px;
}
.violating-systems table {
  margin: 10px auto;
  width: 100%;
}
.violaters.system-specific {
  grid-template-columns: auto auto auto auto auto auto auto;
}

.violaters a:link, a:visited {
  text-decoration: none;
  color: #004596;
}

.violaters a:hover {
  text-decoration: underline
}

.violaters th {
  background: #8FB7E7;
  font-variant: small-caps;  
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 131.19%;
  color: white;

}
.violaters td {
  font-size: 12px;
  line-height: 131.19%;  
  padding: 10px;
  color: #004596;
}

.violaters tr:nth-child(odd) {
  background-color: #E8F0FA;
}

.violaters tr:nth-child(even) {
  background-color: #D8E5F4;
}
  
.erf-align {
  max-width: 90%;
  margin: 10px auto;
  font-weight: 500;
}
button {
  border: 1px solid #8FB7E7;
  border-radius: 5px;
  color: #004596;
  background-color: white;
  font-size: 12px;
  padding: 5px;
}

/* Style the button that is used to open and close the collapsible content   background-color: #eee;
  color: #444;   font-size: 15px;*/
  /* Style the button that is used to open and close the collapsible content */
button.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  p.footnote {
    margin-top: 40px;
  }
